.cart-icon {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

#cart-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 12px;
}
